{
  "branches": [
    { "name": "main", "prerelease": false },
    { "name": "release/*", "prerelease": false }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "convertible_couch.zip",
            "name": "convertible_couch-v${nextRelease.version}.zip",
            "label": "Compiled Distribution v${nextRelease.version} (zip)"
          }
        ]
      }
    ]
  ]
}
