{
  "branches": [
    { "name": "main", "prerelease": false },
    { "name": "release/*", "prerelease": false },
    { "name": "ci/semantic-release", "prerelease": false }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          { "path": "convertible_couch.zip", "label": "Compiled Distribution (ZIP)" }
        ]
      }
    ]
  ]
}
